

.wrapper{
  
  background-color: #919ee57a;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 5px;
  grid-template-areas: "head head head"
                        "nav main main";
                        
  height: 100vh;
}


.header_head__1-rHw{
  grid-area: head;
  border-radius: 3px;
}
.aside_nav__2KtrR{
  grid-area: nav;
  border-radius: 10px;
}
.main_main__38wWP{
  grid-area: main;
  border-radius: 10px;
}



  
    
  
  